In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Apples

In [2]:
df1 = pd.read_csv('Apples.csv')

In [3]:
df1

,image_id,Mean_R,Mean_G,Mean_B,Std_R,Std_G,Std_B,Skew_R,Skew_G,Skew_B,...,Homogeneity_45,Contrast_90,Correlation_90,Energy_90,Homogeneity_90,Contrast_135,Correlation_135,Energy_135,Homogeneity_135,Grade
0,aged-apple-3609342.jpg,116.574680,96.368696,31.631036,110.927072,94.817043,62.542544,-0.022683,0.147751,2.418706,...,0.422519,3221.040112,0.751563,0.348949,0.436529,3561.475810,0.725323,0.342516,0.424018,1
1,apple_06.jpg,92.829948,63.642018,39.135234,75.222824,72.492381,57.265294,0.811465,1.314819,1.750843,...,0.240519,598.831925,0.934097,0.036384,0.282444,717.154365,0.921381,0.034329,0.246991,0
2,apple_1.jpg,126.601621,60.299571,54.176066,93.343731,85.473410,82.008587,-0.171645,1.336736,1.564376,...,0.295228,3670.236931,0.724335,0.209172,0.353882,5399.671346,0.596909,0.190565,0.298613,0
3,apple_10.jpg,115.667666,65.548647,48.449193,101.077764,67.165172,52.728014,-0.169183,0.560713,1.022891,...,0.454724,575.293146,0.931970,0.406427,0.459260,664.701033,0.921391,0.404430,0.454381,0
4,apple_102.jpg,95.404453,89.730260,75.737376,101.121678,95.019454,80.485241,0.503821,0.531439,0.565877,...,0.251109,524.268624,0.968806,0.051450,0.276072,670.815159,0.960104,0.049905,0.262319,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,vertical_flip_Screen Shot 2018-06-08 at 5.21.3...,113.169248,73.527950,62.005477,101.429042,78.455838,73.387324,-0.110259,0.750682,1.211557,...,0.456383,2687.181615,0.776492,0.407722,0.481223,3056.540945,0.746712,0.399135,0.462591,0
545,vertical_flip_Screen Shot 2018-06-08 at 5.21.5...,133.427555,86.491091,81.699171,104.531285,90.353377,89.483826,-0.342734,0.675732,0.760692,...,0.376753,3159.131764,0.800717,0.326296,0.411364,3431.958654,0.783636,0.313386,0.385997,0
546,vertical_flip_Screen Shot 2018-06-08 at 5.32.5...,129.972148,147.545480,86.051217,79.944886,86.306738,70.132370,-0.669101,-0.938851,0.645111,...,0.314227,2781.142159,0.767846,0.210122,0.331309,2967.681401,0.749421,0.202723,0.318189,0
547,vertical_flip_Screen Shot 2018-06-08 at 5.33.0...,147.123874,135.405464,73.212056,112.814830,101.607526,68.168529,-0.437365,-0.492897,0.818043,...,0.374547,7540.851917,0.532475,0.251930,0.386747,7929.232674,0.504943,0.241300,0.357496,0
548,vertical_flip_Screen Shot 2018-06-08 at 5.33.2...,118.022434,61.873838,56.222632,90.383139,62.958498,60.814208,-0.249492,1.260302,1.580589,...,0.409722,1591.369925,0.795699,0.304821,0.426154,2361.353281,0.697001,0.290768,0.400951,0

In [5]:
df1.corr()['Grade']

Mean_R            -0.015948
Mean_G            -0.041506
Mean_B            -0.084121
Std_R              0.309308
Std_G              0.204651
Std_B              0.140765
Skew_R            -0.047710
Skew_G            -0.071553
Skew_B             0.068266
Contrast_0         0.300669
Correlation_0     -0.279626
Energy_0           0.314723
Homogeneity_0      0.209394
Contrast_45        0.244697
Correlation_45    -0.194249
Energy_45          0.312028
Homogeneity_45     0.232417
Contrast_90        0.257407
Correlation_90    -0.211472
Energy_90          0.313660
Homogeneity_90     0.222858
Contrast_135       0.239897
Correlation_135   -0.198911
Energy_135         0.312456
Homogeneity_135    0.239387
Grade              1.000000
Name: Grade, dtype: float64

Std_R    
Std_G  
Energy_135 
Homogeneity_135 
Energy_45 
Homogeneity_45
Contrast_90 
Correlation_90
Energy_90 
Homogeneity_90 
Contrast_135 
Correlation_135 
Contrast_0
Correlation_0
Energy_0

In [16]:
df1_sub1 = df1[['Std_R','Grade','Energy_45','Energy_135','Energy_90','Contrast_0','Energy_0']]
df1_sub1

,Std_R,Grade,Energy_45,Energy_135,Energy_90,Contrast_0,Energy_0
0,110.927072,1,0.342837,0.342516,0.348949,3162.165813,0.348943
1,75.222824,0,0.033586,0.034329,0.036384,622.320789,0.034822
2,93.343731,0,0.189472,0.190565,0.209172,4293.836926,0.195536
3,101.077764,0,0.404395,0.404430,0.406427,592.718831,0.406450
4,101.121678,0,0.049698,0.049905,0.051450,665.194724,0.052651
...,...,...,...,...,...,...,...
544,101.429042,0,0.396971,0.399135,0.407722,2761.564507,0.402021
545,104.531285,0,0.309106,0.313386,0.326296,3591.533078,0.316038
546,79.944886,0,0.200783,0.202723,0.210122,2699.452982,0.206486
547,112.814830,0,0.241572,0.241300,0.251930,6926.986177,0.257778
548,90.383139,0,0.293311,0.290768,0.304821,2521.514532,0.290944

In [18]:
df1_sub1[df1_sub1['Grade']==0].describe()

,Std_R,Grade,Energy_45,Energy_135,Energy_90,Contrast_0,Energy_0
count,131.000000,131.0,131.000000,131.000000,131.000000,131.000000,131.000000
mean,77.602848,0.0,0.230680,0.230731,0.235275,1794.632386,0.235057
std,21.639533,0.0,0.212836,0.212943,0.215249,1407.599300,0.214211
min,25.746021,0.0,0.005999,0.005923,0.006062,60.837865,0.006089
25%,60.592738,0.0,0.020288,0.020658,0.021317,791.142231,0.024672
50%,78.947218,0.0,0.189121,0.188296,0.205315,1486.797239,0.195536
75%,93.925697,0.0,0.389882,0.389431,0.397245,2388.691127,0.393430
max,117.125622,0.0,0.749643,0.750580,0.752737,6926.986177,0.754985

In [19]:
df1_sub1[df1_sub1['Grade']==1].describe()

,Std_R,Grade,Energy_45,Energy_135,Energy_90,Contrast_0,Energy_0
count,126.000000,126.0,126.000000,126.000000,126.000000,126.000000,126.000000
mean,100.109496,1.0,0.342846,0.343155,0.349960,2646.672780,0.349294
std,11.474280,0.0,0.115500,0.115373,0.115644,1007.893251,0.114962
min,47.566536,1.0,0.012047,0.014669,0.012505,947.655665,0.012975
25%,93.874568,1.0,0.287719,0.287017,0.296210,1952.438783,0.294443
50%,102.767569,1.0,0.348280,0.348829,0.355553,2437.315272,0.355179
75%,108.437289,1.0,0.421486,0.423011,0.428122,3075.432044,0.426433
max,121.210938,1.0,0.578314,0.577736,0.587207,6163.750187,0.585026

In [20]:
df1_sub1[df1_sub1['Grade']==2].describe()

,Std_R,Grade,Energy_45,Energy_135,Energy_90,Contrast_0,Energy_0
count,129.000000,129.0,129.000000,129.000000,129.000000,129.000000,129.000000
mean,99.933235,2.0,0.337026,0.337135,0.343490,2681.792073,0.343649
std,10.458817,0.0,0.094579,0.094418,0.094906,953.941107,0.094929
min,61.422674,2.0,0.014074,0.014857,0.014140,310.147262,0.015794
25%,95.077680,2.0,0.287770,0.290397,0.294288,2077.286958,0.303993
50%,101.808824,2.0,0.339514,0.343099,0.352375,2543.185145,0.348917
75%,106.356750,2.0,0.394201,0.393475,0.398753,2990.162641,0.398676
max,123.797136,2.0,0.559934,0.559265,0.567791,5504.507764,0.570620

In [21]:
df1_sub1[df1_sub1['Grade']==3].describe()

,Std_R,Grade,Energy_45,Energy_135,Energy_90,Contrast_0,Energy_0
count,163.000000,163.0,163.000000,163.000000,163.000000,163.000000,163.000000
mean,94.145193,3.0,0.366952,0.367263,0.373681,2795.902738,0.373210
std,12.059628,0.0,0.094497,0.094486,0.094709,835.206722,0.094637
min,53.073279,3.0,0.006934,0.007112,0.007024,1325.931715,0.007220
25%,87.688787,3.0,0.310752,0.311747,0.314615,2225.894853,0.315567
50%,93.731219,3.0,0.366140,0.365940,0.371394,2611.110703,0.370625
75%,102.916502,3.0,0.426687,0.426335,0.434616,3122.642277,0.435070
max,121.141594,3.0,0.598984,0.598457,0.603355,5784.182012,0.604396